<div class="contents row">
  <%= form_tag("/minibrog/#{@tweet.id}", method: :patch ) do %>
    <h3>
      編集する
    </h3>
    <textarea cols="30" name="text" placeholder="text" rows="10"><%= @tweet.text %></textarea>
    <textarea cols="30" name="movie_url" placeholder="movie_url" rows="10"><%= @tweet.movie_url %></textarea>
    <input type="submit" value="SENT">
  <% end %>
</div>
